@import '../variable.scss';

.gridLine_Container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gridLine {
    position: absolute;
    background-color: $grid-line-color;
    z-index: 2;
}
.gridLine_row {
    width: 100%;
    height: 2px;
    left: 0px;
}
.gridLine_col {
    height: 100%;
    width: 2px;
}
