@use '../variable.scss' as *;

#list-tab,
#grid-tab {
  cursor: pointer;
}

.grid-option-select {
  fill: $default-logo-color;
}
.grid-option {
  fill: $default-deselect-color;
}

.nav__container {
  // margin: 0.1rem 6.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  min-width: 28rem;
}

.nav__container__press {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  cursor: pointer;
  .nav__press-contents {
    margin-right: 20px;
    font-size: 25px;
    color: $nav-font-color;
  }
  .contents-select {
    font-weight: bold;
    color: $default-font-color;
  }
}

.nav__container__view_type {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 70px;
  cursor: pointer;
}
