@import '../../variable.scss';

.logo {
    font-size: 1.8rem;
    font-weight: bold;

    svg {
        vertical-align: middle;
        color: $default-logo-color;
        margin-right: 10px;
    }
}
