// color
$default-font-color: #14212b;
$nav-font-color: #4b5966;
$grid-line-color: #d2dae0;

$default-logo-color: #4361cf;
$default-deselect-color: #879298;
//test color
$test-color1: aliceblue;
$test-color2: red;
